[Annotation]
TAG_TYPE=com.crosslang.uimahtmltotext.uima.type.ValueBetweenTagType
SOFA_ID=html2textView
SENTENCE_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Sentence
PARAGRAPH_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Paragraph
CONTACT_PARAGRAPH_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.ContactParagraph
QUESTION_PARAGRAPH_TYPE=de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.QuestionParagraph
TOKEN_TYPE=cassis.Token
NER_TYPE=de.tudarmstadt.ukp.dkpro.core.api.ner.type.NamedEntity